<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="GatewayUrl" value="http://JAMES-CC.Fireball.ads:25000/receiver/" />
    <add key="GatewayProtoAndUrl" value="http://JAMES-CC.Fireball.ads" />
    <add key="GatewayPortAndPath" value=":25000/receiver/" />
    <add key="UseLocalHostForGateway" value="true" />
  </appSettings>
</configuration>